{% extends "regionBase.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
  <title>Liyue</title>
            {% endblock%}
</head>

<body>
  {% block region %}
        <div class="logo">
            <a href="Liyue"><em>Liyue</em></a>
        </div>
        {% endblock %}


{% block description %}


            
<p>A bountiful harbor that lies in the east of Teyvat. Mountains stand tall and proud alongside the stone forest, that, together with the open plains and lively rivers, make up Liyue's bountiful landscape, which shows its unique beauty through each of the four seasons. Just how many gifts from the Geo God lie in wait amongst the rocks of Liyue's mountains?</p>
              


{% endblock %}  

{% block content %}


  <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
          {% for i in range(0,len) %}

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">

                    <a href="data:image/jpeg;base64,{{img_data[i]}}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                    
                                <h1>{{name_data[i]}}</h1>
                                <p>{{comment_data[i]}}</p>
                                
                            </div>
                        </div>
                          <div class="dsss">

                            <img src= "data:image/jpeg;base64,{{img_data[i]}}" >


                        </div>

                    </div></a>
                      <form method ="post" action="/Liyue">
                
                    <button type="submit" name="delete" value="{{input_id_data[i]}}" onclick="return confirm('Are you sure to delete this?')" >Delete</button>
                      </form>
               
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <style type="text/css">
    
.dsss img {
  display: block;
  width: 490px;
  height: 350px;
}

</style>


     {% endblock %}

</body>
</html>