{% extends "regionBase.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
  <title>Mondstadt</title>
            {% endblock%}
</head>

<body>
  {% block region %}
        <div class="logo">
            <a href="Mondstadt"><em>Mondstadt</em></a>
        </div>
        {% endblock %}


{% block description %}


            
<p>A city of freedom that lies in the northeast of Teyvat. From amongst mountains and wide-open plains, carefree breezes carry the scent of dandelions — a gift from the Anemo God, Barbatos — across Cider Lake to Mondstadt, which sits on an island in the middle of the lake.</p>
              


{% endblock %}  

{% block content %}


  <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
          {% for i in range(0,len) %}

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">

                    <a href="data:image/jpeg;base64,{{img_data[i]}}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                    
                                <h1>{{name_data[i]}}</h1>
                                <p>{{comment_data[i]}}</p>
                                
                            </div>
                        </div>
                          <div class="dsss">

                            <img src= "data:image/jpeg;base64,{{img_data[i]}}" >


                        </div>

                    </div></a>
                      <form method ="post" action="/Mondstadt">
                
                    <button type="submit" name="delete" value="{{input_id_data[i]}}" onclick="return confirm('Are you sure to delete this?')" >Delete</button>
                      </form>
               



                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <style type="text/css">
    
.dsss img {
  display: block;
  width: 490px;
  height: 350px;
}

</style>


     {% endblock %}

</body>
</html>